{% extends 'base_player.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if player.is_authenticated %}
<h1>Welcome, {{ player.username }}!</h1>
<p>You are logged in.</p>
<p>Your agent is {{player.agent.symbol}}</p>
{% else %}
<h1>Welcome to my SpaceTraders client</h1>
<p>Please <a href="{% url 'login' %}">log in</a> if you want to play the game. Otherwise you can just browse.</p>

<h2>Register New Agent</h2>

<h2>Add Agent</h2>
<form method="post">
    {% csrf_token %}
    <label for="public_agent_symbol">Public Agent Symbol:</label>
    <input type="text" id="public_agent_symbol" name="public_agent_symbol">
    <button type="submit">Save</button>
</form>

{% if user.is_authenticated %}
<h2>Add Contract</h2>
<form method="post">
    {% csrf_token %}
    <label for="contract_id">Contract ID:</label>
    <input type="text" id="contract_id" name="contract_id">
    <button type="submit">Save</button>
</form>

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="update_contracts" value="true">
    <label for="update_contracts">Update Contracts:</label>
    <input type="submit" value="Update">
</form>

<h2>Add Ship</h2>


{% endif %}




{% endblock %}