{% extends 'base_systems.html' %}

{% block content %}
<h2>System details</h2>
<table>
    <tr>
        <th>Symbol:</th>
        <td>{{ system.symbol }}</td>
    </tr>
    <tr>
        <th>Sector symbol:</th>
        <td>{{ system.sector_symbol }}</td>
    </tr>
    <tr>
        <th>System type:</th>
        <td>{{ system.system_type }}</td>
    </tr>
    <tr>
        <th>X:</th>
        <td>{{ system.x }}</td>
    </tr>
    <tr>
        <th>Y:</th>
        <td>{{ system.y }}</td>
    </tr>
    <tr>
        <th>Factions:</th>
        <td>
            <ul>
                {% for faction in system.factions.all %}
                <li><a href="{% url 'factions:detail' faction.symbol %}">{{ faction.symbol }}</a> - {{ faction.name }}
                </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    <tr>
        <th>Waypoints:</th>
        <td>
            <a href="{% url 'systems:waypoint_index' system.symbol %}">Waypoints</a>
        </td>
    </tr>
</table>


<h3>Deep get waypoints</h3>
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="update_system" value="true">
    <input type="hidden" name="system_symbol" value="{{ system.pk }}">
    <label for="update_system">Deep get waypoints:</label>
    <input type="submit" value="Update">
</form>

{% endblock %}