{% extends 'base_systems.html' %}

{% block content %}
<h2>Waypoint details</h2>
<table>
    <tr>
        <th>Symbol:</th>
        <td>{{ waypoint.symbol }}</td>
    </tr>
    <tr>
        <th>Waypoint type:</th>
        <td>{{ waypoint.waypoint_type }}</td>
    </tr>
    <tr>
        <th>System:</th>
        <td><a href="{% url 'systems:detail' waypoint.system.symbol %}">{{ waypoint.system.symbol }}</a> - {{
            waypoint.system.system_type }}</td>
    </tr>
    <tr>
        <th>Factions:</th>
        <td>
            <ul>
                {% for faction in waypoint.factions.all %}
                <li><a href="{% url 'factions:detail' faction.symbol %}">{{ faction.symbol }}</a> - {{ faction.name }}
                </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    <tr>
        <th>x, y</th>
        <td>{{ waypoint.x }}, {{ waypoint.y }}</td>
    </tr>
    <tr>
        <th>Traits:</th>
        <td>
            <ul>
                {% for trait in waypoint.traits.all %}
                <li>{{ trait.name }} - {{ trait.description }}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
</table>

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="update_waypoint" value="true">
    <label for="update_waypoint">Update Waypoint:</label>
    <input type="submit" value="Update">
</form>

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="navigate" value="true">
    <label for="fleet">Fleet:</label>
    <select name="ship_symbol" id="ship_symbol">
        {% for ship in fleet %}
        <option value="{{ ship.symbol }}">{{ ship.symbol }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Navigate Here">
</form>


<h3>Fleet</h3>

{% if docked_ships %}
<h4>Docked Ships</h4>
{% for ship in docked_ships %}
<li><a href="{% url 'fleet:detail' pk=ship.symbol %}">{{ ship }}</a></li>
{% endfor %}
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="refuel" value="true">
    <label for="fleet">Refuel Ship:</label>
    <select name="ship_symbol" id="ship_symbol">
        {% for ship in docked_ships %}
        <option value="{{ ship.symbol }}">{{ ship.symbol }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Refuel">
</form>
{% endif %}

{% if orbiting_ships %}
<h4>Orbiting Ships</h4>
{% for ship in orbiting_ships %}
<li><a href="{% url 'fleet:detail' pk=ship.symbol %}">{{ ship }}</a></li>
{% endfor %}
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="extract" value="true">
    <label for="fleet">Extract Ore:</label>
    <select name="ship_symbol" id="ship_symbol">
        {% for ship in orbiting_ships %}
        <option value="{{ ship.symbol }}">{{ ship.symbol }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Extract">
</form>

{% endif %}



{% if waypoint.market %}
<h3>Marketplace</h3>
<a href="{% url 'systems:market_detail' system_symbol=waypoint.system.symbol pk=waypoint.market.pk %}">Market</a>
{% endif %}

{% if waypoint.shipyard %}
<h3>Shipyard</h3>
<a href="{% url 'systems:shipyard_detail' system_symbol=waypoint.system.symbol pk=waypoint.shipyard.pk %}">Shipyard</a>
{% endif %}

{% if waypoint.waypoint_type == 'JUMP_GATE' %}
<h3>Jump Gate</h3>
{% for link in waypoint.jump_gate.all %}
<li><a href="{% url 'systems:waypoint_detail' system_symbol=link.destination.system.symbol pk=link.destination.pk %}">{{ link.destination }}</a></li>
{% endfor %}
{% endif %}

{% if waypoint.construction_site %}
<h3>Construction Site</h3>
<table>
    <thead>
        <tr>
            <th>Trade Good</th>
            <th>Required</th>
            <th>Fulfilled</th>
        </tr>
    </thead>
    <tbody>
        {% for construction_site in waypoint.construction_site.all %}
        <tr>
            <td>{{ construction_site.TradeGood }}</td>
            <td>{{ construction_site.required }}</td>
            <td>{{ construction_site.fulfilled }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}
