{%extends 'base_fleet.html' %}
{%block content %}

<h2>{{ship}} Inventory</h2>
<table>
    <thead>
        <tr>
            <th>Ship</th>
            <th>Trade Good</th>
            <th>Units</th>
        </tr>
    </thead>
    <tbody>
        {% for inventory in inventory_list %}
        <tr>
            <td>{{ inventory.ship }}</td>
            <td>{{ inventory.trade_good }}</td>
            <td>{{ inventory.units }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="update_inventory" value="true">
    <input type="hidden" name="ship_symbol" value="{{ ship.symbol }}">
    <label for="update_inventory">Update Inventory:</label>
    <input type="submit" value="Update">
</form>

{% endblock %}
