{% extends 'base_fleet.html' %}

{% block content %}
<h2>Ship Nav</h2>
<table>
    <thead>
        <tr>
            <th>Current System</th>
            <th>Waypoint</th>
            <th>Status</th>
            <th>Flight Mode</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="{% url 'systems:detail' shipnav.current_system.pk %}">{{ shipnav.current_system }}</a></td>
            <td><a href="{% url 'systems:waypoint_detail' system_symbol=shipnav.waypoint.system.symbol pk=shipnav.waypoint.pk %}">{{ shipnav.waypoint }}</a></td>
            <td>{{ shipnav.status }}</td>
            <td>{{ shipnav.flight_mode }}</td>
        </tr>
    </tbody>
</table>

<h2>Route Info</h2>
<table>
    <thead>
        <tr>
            <th>Destination</th>
            <th>Origin</th>
            <th>Departure Time</th>
            <th>Arrival Time</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="{% url 'systems:waypoint_detail' system_symbol=shipnav.route.destination.system.symbol pk=shipnav.route.destination.pk %}">{{ shipnav.route.destination }}</a></td>
            <td><a href="{% url 'systems:waypoint_detail' system_symbol=shipnav.route.origin.system.symbol pk=shipnav.route.origin.pk %}">{{ shipnav.route.origin }}</a></td>
            <td>{{ shipnav.route.departure_time }}</td>
            <td>{{ shipnav.route.arrival_time }}</td>
        </tr>
    </tbody>
</table>

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="update" value="true">
    <label for="update_shipnav">Update Ship Nav:</label>
    <input type="submit" value="Update">
</form>

{% if shipnav.status == 'DOCKED' %}
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="orbit" value="true">
    <label for="orbit">Orbit Ship:</label>
    <input type="submit" value="Orbit">
</form>
{% endif %}

{% if shipnav.status == 'IN_ORBIT' %}
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="dock" value="true">
    <label for="dock">Dock Ship:</label>
    <input type="submit" value="Dock">
</form>
{% endif %}

{% endblock %}
